@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;1,600&display=swap");

:root {
  --font-base: "Poppins", sans-serif;

  --primary-color: #454545;
  --secondary-color: #f8fc02;
  --black-color: #030303;
  --lightGray-color: #d8d8d8;
  --gray-color: #a7a7a7;
  --brown-color: #46364a;
  --white-color: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
