.app__works {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__work-filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin-top: 1rem;

  .app__work-filter-item {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--white-color);
    color: var(--gray-color);
    font-weight: 800;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0.5rem;

    &:hover {
      background-color: var(--secondary-color);
      color: #000;
      box-shadow: 0 0 100px rgba(255, 255, 255, 0.496);
    }

    @media screen and (min-width: 2000px) {
      padding: 1rem 2rem;
      border-radius: 0.85rem;
    }
  }

  .item-active {
    background-color: var(--secondary-color);
    color: #000;
  }
}

.app__work-portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  .app__work-item {
    a {
      text-decoration: none;
    }

    margin: 2rem;
    width: 400px;
    height: 390px;
    flex-direction: column;

    border-radius: 1rem;
    background-color: var(--gray-color);
    color: #000;

    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: none;
    }

    cursor: pointer;
    transition: all 0.3s ease;

    @media screen and (min-width: 2000px) {
      width: 470px;
      height: 679px;
      padding: 1.25rem;
      border-radius: 0.7rem;
    }

    @media screen and (max-width: 300px) {
      width: 100%;
      margin: 1rem;
    }
  }
}

.app__work-img {
  width: 100%;
  height: 230px;

  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (min-width: 2000px) {
    height: 350px;
  }
}

.app__work-github {
  position: absolute;
  bottom: 0;
  right: 5%;

  svg {
    width: 50px;
    height: 50px;
    fill: var(--white-color);
  }
}

.app__work-content {
  padding-top: 2rem;
  width: 100%;
  height: fit-content;
  position: relative;
  flex-direction: column;

  h4 {
    line-height: 1.5;
    width: 100%;
    z-index: 1;
  }

  p {
    padding: 1rem 1rem;
    flex: 1;
    color: var(--lightGray-color);
    font-size: 0.9rem;
    font-weight: 500;
  }

  .app__work-tag {
    position: absolute;
    padding: 0.5rem 1rem;
    border-radius: 50%;
    background-color: #fff;
    top: -20px;
  }
}
